#div1{
    width: 350px;
    height: 300px;
    border: 5px solid gray;
    margin: 0 auto;
    position: relative;
}
#img1{
    width: 350px;
    height: 300px;
}
#a,#b{
    width: 50px;
    height: 50px;
    background: #f1f1f1;
    font-weight:bold;
    text-decoration: none;
    font-size: 50px;
    position: absolute;
    top: 140px;
    color: #000;
    text-align: center;
    line-height: 50px;

}
#b{
    right: 10px;
}
#a{
    left: 10px;
}
#div1 a:hover{
    color: #f1f1f1;
    background: #000;
}
#span1{
    position: absolute;
    /*top: 0;*/
    height: 20px;
    width: 350px;
    background: #000;
    color: #fff;
    text-align: center;
    line-height: 20px;
}
#p1{
    margin: 0;
    position: absolute;
    bottom: 0;
    height: 20px;
    width: 350px;
    background: #000;
    color: #fff;
    text-align: center;
}
.div1{
    width: 350px;
    height: 38px;
    background: #f1f1f1;
    border: 5px solid gray;
    border-bottom: none;
    position: relative;
    margin: 50px auto 0;
}
.div1 input {
    position: absolute;
    top: 5px;
}
#btn1{
    left: 30px;
}
#btn2{
    right: 30px;
}
